<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="divlogin">
      <div class="container">
        <div class="divcont">
          <h3>{{ title }}</h3>
          <form @submit.prevent="sendForm()" >
            <input type="email" :class="{'error':validaEmail}" placeholder="Email" v-model="form.email">
            <input type="password" v-if="form.type!=1" :class="{'error':validaPassword}" placeholder="Contraseña" v-model="form.password">
            <button>Iniciar sesion</button>
            <a href="javascript:void(0)" @click="form.type=1" v-if="form.type!=1">Recuperar contraseña</a>
            <a href="javascript:void(0)" @click="form.type=0" v-if="form.type!=0">Iniciar sesion</a>
          </form>
        </div>
      </div>
    </div>
    <script src="assets/js/vue.min.js" charset="utf-8"></script>
    <script src="assets/js/sesion.js" charset="utf-8"></script>
  </body>
</html>
