<div class="divpaciente">
           <fieldset><legend> Nuevo Paciente </legend> 
            <form method="post" action="/arquetipo/nuevo_paciente" class="paciente">
                <div class="form-group">
                    <fieldset><legend>Datos Personales</legend>
                        <label for="firstname">Nombre completo:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" v-model="firstname" placeholder="">
                        <br>
                        <label for="lastname">Apellido Completo:</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" v-model="lastname" placeholder="">
                        <br>               
                        <label for="age">Edad:</label><br>
                        <input type="text" class="form-control" id="age" name="age" v-model="age" placeholder="">
                        <br>
                        <label for="birthday">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" v-model="birthday" placeholder="">
                        <br>
                        <label for="run">RUN:</label>
                        <input  type="text" class="form-control" id="run" name="run" v-model="run" placeholder="">
                        <br>
                        <legend>Dirección</legend>
                        <br>
                        <label for="adress">Direccion:</label><br>
                        <input  type="text" class="form-control" id="adress" name="adress" v-model="adress" placeholder="">
                        &nbsp<br>
                        <label for="number">N°:</label>
                        <input   type="number" class="form-control" id="number" name="number" v-model="number" placeholder="">
                        &nbsp<br>
                        <label for="city">Ciudad:</label>
                        <input type="text" class="form-control" id="city" name="city" v-model="city" placeholder="">
                        &nbsp<br>
                        <label for="commune">Comuna:</label>
                        <input type="text" class="form-control" id="commune" name="commune" v-model="commune" placeholder="">
                        &nbsp<br>
                        <label for="email">Correo Electronico:</label>
                        <input type="email" class="form-control" id="email" name="email" v-model="email" placeholder="">
                        &nbsp<br>
                        <label for="gender">Genero:</label>
                        <label><input type="radio" name="gender" value="masculino"> Masculino</label>
                        <label><input type="radio" name="gender" value="femenino"> Femenino</label>
                        &nbsp<br>
                        <label for="civilstatus">Estado Civil:</label>
                        <label><input type="radio" name="civilstatus" value="soltero/a"> Soltero/a</label>
                        <label><input type="radio" name="civilstatus" value="Casado/A"> Casado/a</label>
                        <label><input type="radio" name="civilstatus" value="viudo/a"> Viudo/a</label>
                        &nbsp<br>
                        <label for="healthsystem">Sistema de Salud:</label>
                        <label><input type="radio" name="healthsystem" value="fonasa"> Fonasa</label>
                        <label><input type="radio" name="healthsystem" value="Isapre"> Isapre</label>
                        <label><input type="radio" name="healthsystem" value="otro"> Otro</label>
                        &nbsp<br>
                        <label for="mobilphone">Telefono mobil:</label>
                        <input type="number" class="form-control" id="mobilphone" name="mobilphone" v-model="mobilphone" placeholder="">
                        <br>
                        <label for="landline">Telefono fijo:</label>
                        <input type="number" class="form-control" id="landline" name="landline" v-model="landline" placeholder="">
                        </fieldset>
                </div>  
                     
                <div class="form-group">
                     <br><br>
                    <fieldset><legend>Datos Medicos</legend>
                    &nbsp
                    <label for="namedoctor">Nombre Medico:</label>
                    <input type="text" class="form-control" id="namedoctor" name="namedoctor" v-model="namedoctor" placeholder="">
                    &nbsp
                    <label for="lastnamedoctor">Apellido Medico:</label>
                    <input type="text" class="form-control" id="lastnamedoctor" name="lastnamedoctor" v-model="lastnamedoctor" placeholder="">
                    &nbsp
                    <label for="specialty">Especialidad:</label>
                    <input type="text" class="form-control" id="specialty" name="specialty" v-model="specialty" placeholder="">
                    &nbsp
                    <label for="mobildoctor">N° de contacto:</label>
                    <input type="number" class="form-control" id="mobildoctor" name="mobildoctor" v-model="mobildoctor" placeholder="">  

                </fieldset>
                <br>
                <fieldset><legend>Historial Medico</legend>
                    &nbsp
                    <label for="bloodtype">Tipo de sangre:</label>
                    <label><input type="radio" name="bloodtype" value="Apositivo"> A+ </label>
                    <label><input type="radio" name="bloodtype" value="Bpositivo"> B+ </label>
                    <label><input type="radio" name="bloodtype" value="Opositivo"> O+ </label>
                    <label><input type="radio" name="bloodtype" value="ABpositivo">AB+</label>
                    <label><input type="radio" name="bloodtype" value="Anegativo"> A- </label>
                    <label><input type="radio" name="bloodtype" value="Bnegativo"> B- </label>
                    <label><input type="radio" name="bloodtype" value="Onegativo"> O- </label>
                    <label><input type="radio" name="bloodtype" value="ABnegativo">AB-</label>
                    &nbsp
                    <legend>Alergias</legend>
                    <label for="antibioname">A algun antibiotico:</label>
                    <input type="text" class="form-control" id="antibioname" name="antibioname" v-model="antibioname" placeholder="">
                    &nbsp
                    <label for="medicine">A alguna medicina:</label>
                    <input type="text" class="form-control" id="medicine" name="medicine" v-model="medicine" placeholder="">
                    &nbsp
                    <label for="foods">A alguna comida:</label>
                    <input type="text" class="form-control" id="foods" name="foods" v-model="foods" placeholder="">
                    &nbsp
                    <label for="animals">A algun animal:</label>
                    <input type="text" class="form-control" id="animals" name="animals" v-model="animals" placeholder="">
                    &nbsp
                    <label for="bites">A alguna picadura:</label>
                    <input type="text" class="form-control" id="bites" name="bites" v-model="bites" placeholder="">
                    &nbsp 
                    <br>
                    <label for="surgicalbackground">Antecedentes quirurgicos:</label>
                    <input type="text" class="form-control" id="surgicalbackground" name="surgicalbackground" v-model="surgicalbackground" placeholder="">

                    <label for="chronicdiseases">Enfermedad cronica:</label>
                    <input type="text" class="form-control" id="diseasename" name="diseasename" v-model="diseasename" placeholder="">
                    <br>
                    <legend>Medicacion diaria</legend>
                    <br>
                    <label for="medicationname">Nombre Medicamento:</label>
                    <input type="text" class="form-control" id="medicationname" name="medicationname" v-model="medicationname" placeholder="">
                    <br>
                    <label for="dosage">Dosis:</label>
                    <input type="text" class="form-control" id="dosage" name="dosage" v-model="dosage" placeholder="">  
                </fieldset>
                </div>
               
                <button type="submit" class="btn btn-primary" id="btnguardar">Guardar</button>

            </form>
        </fieldset>
</div>

