<div>
    <div class="imglogin"></div>
    <p>Aplicación que permitirá al usuario, en este caso al Medico encargado, 
        poder examinar mas exhaustivamente el registro medico de su paciente, 
        para poder así llegar a un resultado provechoso para ambos.
        Permitirá poder acceder a registros que se encuentren en distintas regiones, 
        a kilómetros de distancia, podrá actualizar sus datos y los de sus pacientes en cada visita.
        Lo que ayudara a un control mucho mejor de lo esperado en el área de la salud y medicina.
    </p>  

</div>