<link rel="stylesheet" href="./estilos/style.css">
<div id="container">
        <h1>&bull; Datos del Paciente &bull;</h1>
        <div class="underline">
        </div>
        <form action="/addname" method="post" id="contact_form">
            <div class="form-group">
                <input  required type="text" class="form-control" id="nombre" name="nombre" v-model="nombre" placeholder="nombre completo">
            </div>   
            <div class="form-group"> 
                <input required type="text" class="form-control" id="apellido" name="apellido" v-model="apellido" placeholder="Apellido completo">
            </div>
            <div class="form-group">
                <input  required type="text" class="form-control" id="edad" name="edad" v-model="edad" placeholder="Introdusca edad">
            </div>
            <div class="form-group">
                <input  required type="date" class="form-control" id="fecha_de_nacimiento" name="fecha_de_nacimiento" v-model="fecha_de_nacimiento" placeholder="fecha de cumpleaños">
            </div>
            <div class="form-group">
                <input  required type="email" class="form-control" id="email" name="email" v-model="email" placeholder="Introdusca correo">
            </div>
            <div class="form-group">
                    <input type="text" placeholder="Numero de contacto" name="telefono" id="telefono">
            </div>
            <div class="form-group">
                <label for="genero">Genero:</label>
                <label><input type="radio" name="genero" value="masculino"> Masculino</label>
                <label><input type="radio" name="genero" value="femenino"> Femenino</label>
            </div> 
            <br><br>
          <div class="submit">
            <input type="submit" value="Send Message" id="form_button" />
          </div>
          
        </form><!-- // End form -->
      </div><!-- // End #container -->